body {
	margin: 0;
	background-color: rgb(240, 240, 240);
	/*text-align: center;*/
	font-family: Calibri, Helvetica, sans-serif;
}
/*Top Heading/Page Title*/
h1 {
    margin: 0;
    padding: 10px 0px 10px 0px;
    border-bottom: 2px solid rgb(230, 230, 230);
    background-color: rgb(51, 51, 51);
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-weight: 400;
}
/*Small description under main heading*/
a {
    padding: 5px;
    font-size: 14px;
    text-align: center;
    text-indent: 0px;
    margin: 0;
    padding: 0px, 0px;
    font-weight: 400;
    display: block;
}
/* Navigation Bar*/
.topnav { /*Black background*/
	background-color: rgb(51, 51, 51);
	overflow: visible;
    margin:0;
    padding:0;
    height: 45px;
}
	.topnav li {
		list-style: none;
        margin:0;
        padding:0;
	}
	.topnav a { /* Style the links inside the navigation bar */
		float: left;
		color: #f2f2f2;
		text-align: center;
		padding: 11px 14px;
		text-decoration: none;
		font: Arial;
		font-size: 19px;
	}

		.topnav a:hover { /* Change the color of links on hover */
			background-color: rgb(230, 230, 230);
			color: black;
		}

		.topnav a.active { /* Add a color to the active/current link */
			background-color: rgb(188, 15, 15);
			color: white;
		}

		.topnav a.first { /*Add more space between the left-most element and the edge of the window*/
			margin-left: 15px;
		}
.content {
    width:60%;
    margin-left:10%;
    text-align: left;
}
.blog {
    width: 60%;
    height: 80%;
    margin-left: 8px;
    text-align: left;
    border: 2px solid rgb(51, 51, 51);
    border-radius: 3px;
    display:inline-block;
}
.post {
    padding: 5px 5px 8px 10px;
    font-size:24px;
    border-width: 0px 0px 2px 0px;
    border-style:solid;
    border-color:darkgray;
    margin-bottom:5px;
}

.scores {
    width: 15%;
    height: 80%;
    margin-left: 8px;
    text-align: left;
    border: 2px solid rgb(51, 51, 51);
    border-radius: 3px;
    display:inline-block;
}

table, th, td {
    border-collapse: collapse;
    background-color: white;
    padding: 5px;
    text-align:center;
}
table {
    border: 2px solid black;
}
th {
    border: 1px solid rgb(195, 199, 211);
}
td {
    border: 1px solid rgb(195, 199, 211);
}
.period_head {
    width: 40px;
    text-align: center;
    background-color:lightgray;
}
td.team16.home {
    background-color: rgb(188, 15, 15);
    color:white;
}
td.team16.away {
    background-color:white;
}
td.away {
    background-color: lightgray;
    border-bottom: 2px solid black;
}
td.home {
    background-color: lightgray;
    border-bottom: 2px solid black;
}
td.winner {
    font-weight: bold;
}
